body {
	text-align: center;
    background: -webkit-linear-gradient(190deg, green, blue);
    color: #fff;
    font-size: 20px;
}

form {
	font-size: 30px;
}

ul {
	list-style-type: none;
}

a {
	color: #FFF;
}